body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #012b1e; 
    margin: 0;
    background-color: #f4f4f4;
  }


.encabezado{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.encabezado img{
  width: 120px; 
  height: 120px;
  border-radius: 50%;
  object-fit: cover; 
  margin-right: 20px;
}
.encabezado .texto h1 {
  font-size: 1.8em; 
  margin: 0;
  color: #0a4735;
}

.linea{
  border-top: 2px solid #dddddd;
  margin-top: 30px;
}

.contenedor{
  display: flex;
  justify-content: space-between; 
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
