body{
    height: 100vh;
    background-color: gray;
}
.contenedor-Login{
    height: 100%;
    display: grid;
    place-items: center;
}

h4.logo{
    width: 100%;
    color: white;
    text-align: center;
}

.loginFormContainer{
    width: 100%;
    min-height: 100px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}