*{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    background-color: gray;
}
.contenedor-Login{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 1px;
}

h4.logo{
    width: 100%;
    color: white;
    text-align: center;
}

.loginFormContainer{
    width: 100%;
    min-height: 100px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#formLogin{
    min-height: 30px;
    width: 100%;
    background-color: pink;
}

#forLogin input[type="text"],
#forLogin input[type="password"]{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
}

#forLogin input[type="text"]:focus,
#forLogin input[type="password"]:focus{/*focus es para las caracteristicas cuando se hace foco en un elemento*/
    outline: none;
    border: 3px solid rgb(110, 31, 31);
    padding-left: len;
}
.actionLogin{
    min-height: 30px;
    width: 100%;
    background-color: rgb(148, 44, 61);
}