*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100vh;
    font-size: 30px;
    background-color: rgb(114, 60, 60);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    place-items: center;
}
.contenedor-Login{
    width: 50%;
    height: 50%;
    display: grid;
    place-items: center;
    padding: 1px;
}

h4.logo{
    color: white;
    text-align: center;
    position: absolute;
}

.loginFormContainer{
    text-align: center;
    background-color: rgb(114, 60, 60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
}

.formLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formLogin input[type="text"],
.formLogin input[type="password"]{
    width: 800px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-bottom: 15px;
    align-items: center;
}

#formLogin input[type="text"]:focus,
#formLogin input[type="password"]:focus{/*focus es para las caracteristicas cuando se hace foco en un elemento*/
    outline: none;
    padding-left: 1em;
}
.actionLogin{
    min-height: 30px;
    width: 100%;
    display: flex;
    text-align: center;
}
.actionLogin input[type="submit"]{
    width: 800px;
    height: 50px;
    border-radius: 9px;
    border: none;
    background-color: #000000;
    color: white;
    cursor: pointer;
    align-items: center;
    margin-bottom: 40px ;
}
p{
    font-size: 15 px;
}
a{
    color: #ffffff;
}